@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Regular.woff) format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Medium.woff) format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-SemiBold.woff) format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Bold.woff) format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-Medium.woff) format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-Bold.woff) format('woff2');
  font-weight: 700;
}
