<section class="section" id="about">
  <div class="container">
    <h2
      data-aos="fade"
      data-aos-duration="500"
      data-aos-easing="ease-in-sine"
      class="section__heading about__title"
    >
      ABOUT
    </h2>

    <div class="about__cointainer">
      <div
        data-aos="fade-right"
        data-aos-duration="500"
        data-aos-easing="ease-in-sine"
        class="about__text"
      >
        <p>
          We are a minimalistic flower studio. We love people and flowers. Therefore, every day we
          give people the beauty and joy creating stylish and modern masterpieces. Every bouquet we
          create is unique as you are.
        </p>
      </div>
      <div
        data-aos="fade"
        data-aos-duration="500"
        data-aos-easing="linear"
        class="about__image_div"
      >
        <img
          class="about__image"
          alt="Flowers"
          src="./images/about/image_about_mobile_x1.jpg"
          srcset="
            ./images/about/image_about_mobile_x1.jpg   288w,
            ./images/about/image_about_mobile_x2.jpg   576w,
            ./images/about/image_about_mobile_x3.jpg   864w,
            ./images/about/image_about_tablet_x1.jpg   344w,
            ./images/about/image_about_tablet_x2.jpg   688w,
            ./images/about/image_about_tablet_x3.jpg  1032w,
            ./images/about/image_about_desktop_x1.jpg  632w,
            ./images/about/image_about_desktop_x2.jpg 1264w,
            ./images/about/image_about_desktop_x3.jpg 1896w
          "
          sizes="(min-width: 1280px) 632px, (min-width: 768px) 344px, (min-width: 480px) 288px, 100vw "
        />
      </div>
    </div>
  </div>
</section>
