<!-- section-blog -->
<section class="blog__section" id="blog">
  <div class="container">
    <h2
      data-aos="fade"
      data-aos-duration="500"
      data-aos-easing="ease-in-sine"
      class="section__heading"
    >
      Blog
    </h2>

    <!-- Slider main container -->
    <div data-aos="fade-up" data-aos-duration="500" data-aos-easing="ease-in-sine" class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <picture class="blog__img">
            <source
              srcset="
                ./images/blog/flowers-mobile4@2x.jpg 272w,
                ./images/blog/flowers-mobile4@3x.jpg 408w
              "
              media="(min-width: 480px) and (max-width: 767px)"
              sizes="216px"
            />
            <source
              srcset="
                ./images/blog/flowers-tablet4@1x.jpg  344w,
                ./images/blog/flowers-tablet4@2x.jpg  688w,
                ./images/blog/flowers-tablet4@3x.jpg 1032w
              "
              media="(min-width: 768px) and (max-width: 1279px)"
              sizes="344px"
            />
            <source
              srcset="
                ./images/blog/flowers-desktop4@1x.jpg  390w,
                ./images/blog/flowers-desktop4@2x.jpg  780w,
                ./images/blog/flowers-desktop4@3x.jpg 1170w
              "
              media="(min-width: 1280px)"
              sizes="390px"
            />
            <img class="blog__img" src="./images/blog/flowers-mobile4@1x.jpg" alt="Flowers" />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="blog__img">
            <source
              srcset="
                ./images/blog/flowers-mobile5@2x.jpg 272w,
                ./images/blog/flowers-mobile5@3x.jpg 408w
              "
              media="(min-width: 480px) and (max-width: 767px)"
              sizes="216px"
            />
            <source
              srcset="
                ./images/blog/flowers-tablet5@1x.jpg  344w,
                ./images/blog/flowers-tablet5@2x.jpg  688w,
                ./images/blog/flowers-tablet5@3x.jpg 1032w
              "
              media="(min-width: 768px) and (max-width: 1279px)"
              sizes="344px"
            />
            <source
              srcset="
                ./images/blog/flowers-desktop5@1x.jpg  390w,
                ./images/blog/flowers-desktop5@2x.jpg  780w,
                ./images/blog/flowers-desktop5@3x.jpg 1170w
              "
              media="(min-width: 1280px)"
              sizes="390px"
            />
            <img class="blog__img" src="./images/blog/flowers-mobile5@1x.jpg" alt="Flowers" />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="blog__img">
            <source
              srcset="
                ./images/blog/flowers-mobile6@2x.jpg 272w,
                ./images/blog/flowers-mobile6@3x.jpg 408w
              "
              media="(min-width: 480px) and (max-width: 767px)"
              sizes="216px"
            />
            <source
              srcset="
                ./images/blog/flowers-tablet6@1x.jpg  344w,
                ./images/blog/flowers-tablet6@2x.jpg  688w,
                ./images/blog/flowers-tablet6@3x.jpg 1032w
              "
              media="(min-width: 768px) and (max-width: 1279px)"
              sizes="344px"
            />
            <source
              srcset="
                ./images/blog/flowers-desktop6@1x.jpg  390w,
                ./images/blog/flowers-desktop6@2x.jpg  780w,
                ./images/blog/flowers-desktop6@3x.jpg 1170w
              "
              media="(min-width: 1280px)"
              sizes="390px"
            />
            <img class="blog__img" src="./images/blog/flowers-mobile6@1x.jpg" alt="Flowers" />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture class="blog__img">
            <source
              srcset="
                ./images/blog/flowers-mobile1@2x.jpg 272w,
                ./images/blog/flowers-mobile1@3x.jpg 408w
              "
              media="(min-width: 480px) and (max-width: 767px)"
              sizes="216px"
            />
            <source
              srcset="
                ./images/blog/flowers-tablet1.jpg     344w,
                ./images/blog/flowers-tablet1@2x.jpg  688w,
                ./images/blog/flowers-tablet1@3x.jpg 1032w
              "
              media="(min-width: 768px) and (max-width: 1279px)"
              sizes="344px"
            />
            <source
              srcset="
                ./images/blog/flowers-desktop1.jpg     390w,
                ./images/blog/flowers-desktop1@2x.jpg  780w,
                ./images/blog/flowers-desktop1@3x.jpg 1170w
              "
              media="(min-width: 1280px)"
              sizes="390px"
            />
            <img class="blog__img" src="./images/blog/flowers-mobile1.jpg " alt="Flowers" />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="blog__img">
            <source
              srcset="
                ./images/blog/flowers-mobile2@2x.jpg 272w,
                ./images/blog/flowers-mobile2@3x.jpg 408w
              "
              media="(min-width: 480px) and (max-width: 767px)"
              sizes="216px"
            />
            <source
              srcset="
                ./images/blog/flowers-tablet2.jpg     344w,
                ./images/blog/flowers-tablet2@2x.jpg  688w,
                ./images/blog/flowers-tablet2@3x.jpg 1032w
              "
              media="(min-width: 768px) and (max-width: 1279px)"
              sizes="344px"
            />
            <source
              srcset="
                ./images/blog/flowers-desktop2.jpg     390w,
                ./images/blog/flowers-desktop2@2x.jpg  780w,
                ./images/blog/flowers-desktop2@3x.jpg 1170w
              "
              media="(min-width: 1280px)"
              sizes="390px"
            />
            <img class="blog__img" src="./images/blog/flowers-mobile2.jpg" alt="Flowers" />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="blog__img">
            <source
              srcset="
                ./images/blog/flowers-mobile3@2x.jpg 272w,
                ./images/blog/flowers-mobile3@3x.jpg 408w
              "
              media="(min-width: 480px) and (max-width: 767px)"
              sizes="216px"
            />
            <source
              srcset="
                ./images/blog/flowers-tablet3.jpg     344w,
                ./images/blog/flowers-tablet3@2x.jpg  688w,
                ./images/blog/flowers-tablet3@3x.jpg 1032w
              "
              media="(min-width: 768px) and (max-width: 1279px)"
              sizes="344px"
            />
            <source
              srcset="
                ./images/blog/flowers-desktop3.jpg     390w,
                ./images/blog/flowers-desktop3@2x.jpg  780w,
                ./images/blog/flowers-desktop3@3x.jpg 1170w
              "
              media="(min-width: 1280px)"
              sizes="390px"
            />
            <img class="blog__img" src="./images/blog/flowers-mobile3.jpg" alt="Flowers" />
          </picture>
        </div>
      </div>

      <div class="swiper-navigation">
        <button class="blog__button--arrow" type="button">
          <svg class="swiper-button-prev blog-button__icon--main" width="50" height="50">
            <use href="./images/icons/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button class="blog__button--arrow" type="button">
          <svg class="swiper-button-next blog-button__icon--secondary" width="50" height="50">
            <use href="./images/blog/icons.svg#icon-down-arrowR"></use>
          </svg>
        </button>
      </div>
    </div>

    <h3
      data-aos="fade-right"
      data-aos-duration="500"
      data-aos-easing="ease-in-sine"
      class="blog__newsletter"
    >
      Follow to our newsletter
    </h3>
    <button
      data-aos="flip-down"
      data-aos-delay="100"
      data-modal-newsletter-open
      type="button"
      class="button button--sm blog__button"
    >
      Newsletter
    </button>
  </div>
</section>
