<section class="section delivery" id="delivery">
  <div class="container">
    <h2
      data-aos="fade"
      data-aos-duration="500"
      data-aos-easing="ease-in-sine"
      class="section__heading"
    >
      Delivery
    </h2>
    <ul class="delivery__grid">
      <li
        data-aos="fade-right"
        data-aos-duration="500"
        data-aos-easing="ease-in-sine"
        class="delivery__item"
      >
        <span class="delivery__number">1</span>
        <p class="delivery__text">Choose your bouquet and make an order on website</p>
      </li>
      <li
        data-aos="fade-right"
        data-aos-duration="500"
        data-aos-easing="ease-in-sine"
        data-aos-delay="100"
        class="delivery__item"
      >
        <span class="delivery__number">2</span>
        <p class="delivery__text">
          Wait for the call to clarify the details of the order. You can pay online or to the
          courier
        </p>
      </li>
      <li
        data-aos="fade-right"
        data-aos-duration="500"
        data-aos-easing="ease-in-sine"
        data-aos-delay="200"
        class="delivery__item"
      >
        <span class="delivery__number">3</span>
        <p class="delivery__text">
          Wait for the delivery at the selected time or pick up the order from the store
        </p>
      </li>
      <li
        data-aos="fade-right"
        data-aos-duration="500"
        data-aos-easing="ease-in-sine"
        data-aos-delay="300"
        class="delivery__item"
      >
        <span class="delivery__number">4</span>
        <p class="delivery__text">Make someone happy or enjoy yourself</p>
      </li>
    </ul>
    <div
      data-aos="fade-up"
      data-aos-duration="500"
      data-aos-easing="ease-in-sine"
      class="delivery__image"
    >
      <picture>
        <source
          srcset="
            ./images/delivery/delivery-mobile@2x.jpg 640w,
            ./images/delivery/delivery-mobile@3x.jpg 960w
          "
          media="(max-width: 767px)"
          sizes="100vw"
        />
        <source
          srcset="
            ./images/delivery/delivery-tablet.jpg     768w,
            ./images/delivery/delivery-tablet@2x.jpg 1536w,
            ./images/delivery/delivery-tablet@3x.jpg 2304w
          "
          media="(min-width: 768px) and (max-width: 1279px)"
          sizes="768px"
        />
        <source
          srcset="
            ./images/delivery/delivery-desktop.jpg    1280w,
            ./images/delivery/delivery-desktop@2x.jpg 2560w,
            ./images/delivery/delivery-desktop@3x.jpg 3840w
          "
          media="(min-width: 1280px)"
          sizes="1280px"
        />
        <img src="./images/delivery/delivery-mobile.jpg" alt="Flowers" />
      </picture>
    </div>
  </div>
</section>
