<section class="section delivery">
  <div class="container">
    <h2 class="section__heading">Delivery</h2>
    <ul class="delivery__grid">
      <li class="delivery__item">
        <h3>1</h3>
        <p>Choose your bouquet and make an order on website</p>
      </li>
      <li class="delivery__item">
        <h3>2</h3>
        <p>
          Wait for the call to clarify the details of the order. You can pay online or to the
          courier
        </p>
      </li>
      <li class="delivery__item">
        <h3>3</h3>
        <p>Wait for the delivery at the selected time or pick up the order from the store</p>
      </li>
      <li class="delivery__item">
        <h3>4</h3>
        <p>Make someone happy or enjoy yourself</p>
      </li>
    </ul>
    <div class="delivery__image">
      <img
        src="./images/delivery/delivery-320.jpg"
        srcset="
          ./images/delivery/delivery-320.jpg   320w,
          ./images/delivery/delivery-640.jpg   640w,
          ./images/delivery/delivery-768.jpg   768w,
          ./images/delivery/delivery-1536.jpg 1536w,
          ./images/delivery/delivery-1280.jpg 1280w,
          ./images/delivery/delivery-2560.jpg 2560w
        "
        sizes="(min-width: 1280px) 1280px, (min-width: 768px) 768px, 100vw"
      />
    </div>
  </div>
</section>
