<div class="footer">
  <div
    data-aos="fade"
    data-aos-duration="500"
    data-aos-easing="ease-in-sine"
    class="container footer__wrapper"
  >
    <div class="footer__subcontainer">
      <!--footer logo-->
      <div class="footer__logo">
        <svg class="logo__footer" width="73" height="57">
          <use href="./images/icons/icons.svg#icon-logo-mobile"></use>
        </svg>
      </div>
      <!--Navigation section-->
      <div class="nav-footer">
        <h2 class="nav-footer__heading footer__heading">Navigation</h2>
        <ul class="nav-footer__list">
          <li class="nav-footer__item">
            <a href="#" class="nav-footer__link link">Anemone</a>
          </li>
          <li class="nav-footer__item">
            <a href="#about" class="nav-footer__link link">About us</a>
          </li>
          <li class="nav-footer__item">
            <a href="#store" class="nav-footer__link link">Store</a>
          </li>
          <li class="nav-footer__item">
            <a href="#delivery" class="nav-footer__link link">Delivery</a>
          </li>
        </ul>
      </div>
      <!-- Open hours section-->
      <div class="hours">
        <div class="hours__items">
          <h2 class="hours__heading footer__heading">Opening times</h2>
          <p>Every day</p>
          <p>9:00 - 22:00</p>
        </div>
      </div>
    </div>
    <!--Contacts section-->
    <div class="footer__subcontainer">
      <div class="contacts">
        <h2 class="contacts__ heading footer__heading">Contacts</h2>
        <address class="contacts__address">
          <a href="tel:+380631234567" class="contacts__address-item link">+38 063 123 45 67</a>
          <a href="mailto:anemonestudio@example.com" class="contacts__address-item link"
            >anemonestudio<br class="footer-mobile" />@example.com</a
          >

          <a
            href="https://goo.gl/maps/FScgXBPWEzYuTxry6"
            target="blank"
            rel="noopener nofollow"
            class="contacts__address-item link"
            >Reitarska Street, 11<br />
            Kyiv, Ukraine</a
          >
        </address>
      </div>
      <!--footer icons-->
      <div class="utils">
        <ul class="utils__list link">
          <li class="utils__item">
            <a href="#" class="utils__icon">
              <svg class="utils__icon-facebook" width="28" height="28">
                <use href="./images/icons/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="utils__item">
            <a href="#" class="utils__icon">
              <svg class="utils__icon-instagram" width="28" height="28">
                <use href="./images/icons/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
