<section>
  <footer class="footer">
    <div class="container">
      <div class="footer__subcontainer">
        <!--footer logo-->
        <div class="footer__logo"></div>
        <!--Navigation section-->
        <div class="nav-footer">
          <h2 class="footer__heading">Navigation</h2>
          <ul class="nav-footer__list">
            <li class="nav-footer__item">
              <a href="#" class="nav-footer__link">Anemone</a>
            </li>
            <li class="nav-footer__item">
              <a href="#" class="nav-footer__link">About us</a>
            </li>
            <li class="nav-footer__item">
              <a href="#" class="nav-footer__link">Store</a>
            </li>
            <li class="nav-footer__item">
              <a href="#" class="nav-footer__link">Delivery</a>
            </li>
          </ul>
        </div>
        <!-- Open hours section-->
        <div class="availability">
          <h2 class="footer__heading">Opening times</h2>
          <p>Every day 9:00 - 22:00</p>
        </div>
        <!--Contacts section-->
        <div class="contacts">
          <h2 class="footer__heading">Contacts</h2>
          <address class="contacts__address">
            <a href="tel:+380631234567" class="contact__address-tel">+38 063 123 45 67</a>
            <a href="mailto:anemonestudio@example.com" class="contact__address-mail"
              >anemonestudio@example.com</a
            >
            Reitarska Street, 11 Kyiv, Ukraine
          </address>
        </div>
        <!--footer icons-->
        <div class="footer__utils"></div>
      </div>
    </div>
  </footer>
</section>
