
    <div class="navbar page-header">
      <svg class="header__logo">
        <use href="./images/icons/icons.svg#icon-logo"></use>
      </svg>
      <ul class="header__nav">
        <li class="nav-item">
          <a class="nav__link" href="#anemone">Anemone</a>
        </li>
        <li class="nav-item">
          <a class="nav__link" href="#about">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav__link" href="#store">Store</a>
        </li>
        <li class="nav-item">
          <a class="nav__link" href="#delivery">Delivery</a>
        </li>
        <li class="nav-item">
          <a class="nav__link" href="#blog">Blog</a>
        </li>
      </ul>
      
      <svg class="header__call">
        <use href="./images/icons/icons.svg#icon-call-us"></use>
      </svg>
      <div class="menu-container"></div>
        <button class="header__menu-toggle js-open-menu" aria-expanded="false"
        aria-controls="mobile-menu">
          <svg class="menu-toggle__icon">
            <use href="./images/icons/icons.svg#icon-Vector"></use>
          </svg>
          
        </button>
      </div>
    </div>

    <div class="menu-container js-menu-container" id="mobile-menu">
      <button class="menu-toggle js-close-menu">X</button>
      <nav>
        <ul class="mobile-menu">
          <li><a class="mobile_link" href="./partials/hero.html">Anemone</a></li>
          <li><a class="mobile_link" href="./partials/about.html">About us</a></li>
          <li><a class="mobile_link" href="./partials/store.html">Store</a></li>
          <li><a class="mobile_link" href="./partials/delivery.html">Delivery</a></li>
          <li><a class="mobile_link" href="./partials/blog.html">Blog</a></li>
        </ul>
      </nav>
    </div>
    <script src="./index.js" type="module"></script>
 
