<section class="navbar page-header" id="header">
  <svg class="header__logo" width="24" height="24">
    <use href="./images/icons/icons.svg#icon-logo-desktop"></use>
  </svg>

  <ul class="header__nav">
    <li class="nav-item">
      <a class="nav__link" href="#anemone">Anemone</a>
    </li>
    <li class="nav-item">
      <a class="nav__link" href="#about">About us</a>
    </li>
    <li class="nav-item">
      <a class="nav__link" href="#store">Store</a>
    </li>
    <li class="nav-item">
      <a class="nav__link" href="#delivery">Delivery</a>
    </li>
    <li class="nav-item">
      <a class="nav__link" href="#blog">Blog</a>
    </li>
  </ul>

  <svg class="header__call" width="24" height="24">
    <use href="./images/icons/icons.svg#icon-tel-icon"></use>
  </svg>
  
  <button
    class="header__menu-toggle js-open-menu"
    aria-expanded="false"
    aria-controls="mobile-menu"
  >
    <svg class="menu-toggle__icon" width="24" height="24">
      <use href="./images/icons/icons.svg#icon-burger-icon"></use>
    </svg>
  </button>
</section>

<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">X</button>
  <nav>
    <ul class="mobile-menu">
      <li><a class="mobile_link" href="#hero">Anemone</a></li>
      <li><a class="mobile_link" href="#about">About</a></li>
      <li><a class="mobile_link" href="#store">Store</a></li>
      <li><a class="mobile_link" href="#delivery">Delivery</a></li>
      <li><a class="mobile_link" href="#blog">Blog</a></li>
    </ul>
  </nav>
</div>
</div>
