<div class="section">
  <div claass="hero">
    <div class="hero__img-frame">
      <div class="hero__img-box">
        <img
          class="hero__img"
          src="./images/hero/hero.jpg"
          srcset="
            ./images/hero/tablet/hero.jpg    390w,
            ./images/hero/tablet/hero@2x.jpg 780w,
            ./images/hero/mobile/hero.jpg    145w,
            ./images/hero/mobile/hero@2x.jpg 290w
          "
          sizes="(min-width: 780px)
                  780px, (min-width: 390px) 390px, (min-width: 290px) 290px,
                  (min-width: 145px) 145px, 100vw"
          alt="Beautiful Echinacea flower picture"
        />
      </div>
      <div class="hero__headerbox">
        <h1 class="hero__header">ANEMONĒ</h1>
      </div>
      <div class="hero__textbox">
        <h2 class="hero__text">flower studio</h2>
        <button type="button" class="hero__button">
          <!-- <div class="hero__buttonbox"> -->
          <svg class="hero__icon" width="64" height="64" viewbox="0 0 64 64">
            <use href="images/hero/shopnow.svg"></use>
            <!-- <use href="images/icons.svg#shopnow"></use> -->
          </svg>
          <!-- </div> -->
        </button>
      </div>
    </div>
  </div>
</div>

<!-- TUTAJ ZACZYNAJA SIE MODALE MOZNA WRZUCIC W OSOBNY/E PLIK/I ALBO ZOSTAWIĆ TUTAJ  -->

<!-- <div class="backdrop is-hidden" data-modal>
  <div class="modal-contact">
    <button type="button" class="button__close" data-modal-close>X</button>
    <h3 class="form__title">Contact Us</h3>
    <span class="form__text"
      >If you have any additional questions or you want to clarify something before you make an
      order please fill in your contact details. We will call you back.</span
    >
    <form name="modal-form">
      <label class="form__label">
        <span class="form__span">Name</span>
        <input
          class="form__input input__box"
          type="text"
          name="name"
          placeholder="Wacław z Szamotuł"
          required
        />
      </label>
      <label class="form__label">
        <span class="form__span">Email</span>
        <input
          class="form__input input__box"
          type="email"
          name="email"
          placeholder="Wacek56@malowniczeszamotuly.com"
          required
        />
      </label>
      <button type="submit" class="signup-btn form__submit">Send</button>
    </form>
  </div>
</div> -->

<div class="backdrop is-hidden" data-modal>
  <div class="thx-modal">
    <button type="button" class="button__close" data-modal-close>X</button>
    <img class="thx__img" src="./images/svg/Plants.svg" alt="Another lot of beautiful flowers" />
    <h3 class="thx__title">Thank you!</h3>
    <span class="thx__text">We have received your contact details and will reach you soon. </span>
    <button type="button" class="button thx__btn form__submit">Continue</button>
  </div>
</div>
