<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">X</button>
  <nav>
    <ul class="mobile-menu">
      <li><a class="mobile_link" href="./partials/hero.html">Anemone</a></li>
      <li><a class="mobile_link" href="./partials/about.html">About us</a></li>
      <li><a class="mobile_link" href="./partials/store.html">Store</a></li>
      <li><a class="mobile_link" href="./partials/delivery.html">Delivery</a></li>
      <li><a class="mobile_link" href="./partials/blog.html">Blog</a></li>
    </ul>
  </nav>
</div>
<script src="./index.js" type="module"></script>
