<div class="backdrop">
  <div class="modal-contact">
    <button type="button" class="button__close" data-modal-close>X</button>
    <h3 class="form__title">Contact Us</h3>
    <span class="form__text"
      >If you have any additional questions or you want to clarify something before you make an
      order please fill in your contact details. We will call you back.</span
    >
    <form name="modal-form">
      <label class="form__label">
        <span class="form__span">Name</span>
        <input
          class="form__input input__box"
          type="text"
          name="name"
          placeholder="Kristin Watson"
          autofocus
          pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
          title="Username must be two words separated by space."
        />
      </label>
      <label class="form__label">
        <span class="form__span">Email</span>
        <input
          class="form__input input__box"
          type="email"
          name="email"
          placeholder="tanya.hill@example.com"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          title="Email must contain at least three words spearated by @ first and by a comma next. Just like emails do. duh"
        />
      </label>
      <button type="submit" class="form__submit-btn" thx-modal-open>Send</button>
      <!-- jak znajdzie sie js do wyszarzania buttonow to mozna dac disabled tak jak thx-modal-open na tego buttona style zrobilem w cssie -->
    </form>
  </div>
</div>
