<div class="backdrop">
  <div class="modal-contact">
    <button type="button" class="button__close" data-modal-close>X</button>
    <h3 class="form__title">Contact Us</h3>
    <span class="form__text"
      >If you have any additional questions or you want to clarify something before you make an
      order please fill in your contact details. We will call you back.</span
    >
    <form name="modal-form">
      <label class="form__label">
        <span class="form__span">Name</span>
        <input
          class="form__input input__box"
          type="text"
          name="name"
          placeholder="Kristin Watson"
          required
        />
      </label>
      <label class="form__label">
        <span class="form__span">Email</span>
        <input
          class="form__input input__box"
          type="email"
          name="email"
          placeholder="tanya.hill@example.com"
          required
        />
      </label>
      <button type="submit" class="button form__submit-btn">Send</button>
    </form>
  </div>
</div>
