<div data-modal-contact class="backdrop is-hidden">
  <div class="modal modal-contact">
    <button data-modal-contact-close type="button" class="modal__close">
      <svg width="18" height="18">
        <use href="./images/icons/icons.svg#icon-close-button"></use>
      </svg>
    </button>
    <h3 class="form__title">Contact us</h3>
    <span class="form__text"
      >If you have any additional questions or you want to clarify something before you make an
      order please fill in your contact details. We will call you back.</span
    >
    <form name="modal-form" method="post" onsubmit="return false">
      <label class="form__label">
        <span class="form__span">Name</span>
        <input
          class="form__input input__box"
          type="text"
          name="name"
          placeholder="Name Surname"
          autofocus
          pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
          title="Username must be two words separated by space."
          required
        />
        <div class="input__state input__state--error">
          <svg width="20" height="20">
            <use href="./images/icons/icons.svg#icon-error-icon"></use>
          </svg>
        </div>
        <div class="input__state input__state--correct">
          <svg width="20" height="20">
            <use href="./images/icons/icons.svg#icon-correct-icon"></use>
          </svg>
        </div>
      </label>
      <label class="form__label">
        <span class="form__span">Email</span>
        <input
          class="form__input input__box"
          type="email"
          name="email"
          placeholder="email@example.com"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          title="Email must contain at least three words spearated by @ first and by a comma next. Just like emails do. duh"
          required
        />
        <div class="input__state input__state--error">
          <svg width="20" height="20">
            <use href="./images/icons/icons.svg#icon-error-icon"></use>
          </svg>
        </div>
        <div class="input__state input__state--correct">
          <svg width="20" height="20">
            <use href="./images/icons/icons.svg#icon-correct-icon"></use>
          </svg>
        </div>
      </label>
      <button data-modal-thanks-open type="submit" class="button modal__button form__button">
        Send
      </button>
      <!-- jak znajdzie sie js do wyszarzania buttonow to mozna dac disabled tak jak thx-modal-open na tego buttona style zrobilem w cssie -->
    </form>
  </div>
</div>
