<section class="section" id="store">
  <div class="container">
    <h2
      data-aos="fade"
      data-aos-duration="500"
      data-aos-easing="ease-in-sine"
      class="section__heading store__title"
    >
      STORE
    </h2>
    <ul class="store__list">
      <li class="store__item">
        <img
          data-aos="fade"
          data-aos-duration="500"
          data-aos-easing="ease-in-sine"
          class="store__img"
          srcset="
            ./images/store/mobile_bouquet3@1x.jpg   136w,
            ./images/store/mobile_bouquet3@2x.jpg   272w,
            ./images/store/mobile_bouquet3@3x.jpg   408w,
            ./images/store/tablet_bouquet3@1x.jpg   344w,
            ./images/store/tablet_bouquet3@2x.jpg   688w,
            ./images/store/tablet_bouquet3@3x.jpg  1032w,
            ./images/store/desktop_bouquet3@1x.jpg  600w,
            ./images/store/desktop_bouquet3@2x.jpg 1200w,
            ./images/store/desktop_bouquet3@3x.jpg 1800w
          "
          sizes="(min-width: 1280px) 600px, (min-width: 768px) 344px, (min-width: 480px) 136px"
          src="./images/store/mobile_bouquet3@1x.jpg"
          alt="few red and orange flowers"
        />
        <div class="store__text">
          <h3
            data-aos="fade-right"
            data-aos-duration="500"
            data-aos-easing="ease-in-sine"
            class="store__name section__subtitle"
          >
            compliments
          </h3>
          <p
            data-aos="fade-right"
            data-aos-duration="500"
            data-aos-easing="ease-in-sine"
            data-aos-delay="200"
            class="store__price"
          >
            from $15
          </p>
        </div>
      </li>
      <li class="store__item">
        <img
          data-aos="fade"
          data-aos-duration="500"
          data-aos-easing="ease-in-sine"
          class="store__img"
          srcset="
            ./images/store/mobile_bouquet1@1x.jpg   136w,
            ./images/store/mobile_bouquet1@2x.jpg   272w,
            ./images/store/mobile_bouquet1@3x.jpg   408w,
            ./images/store/tablet_bouquet1@1x.jpg   344w,
            ./images/store/tablet_bouquet1@2x.jpg   688w,
            ./images/store/tablet_bouquet1@3x.jpg  1032w,
            ./images/store/desktop_bouquet1@1x.jpg  600w,
            ./images/store/desktop_bouquet1@2x.jpg 1200w,
            ./images/store/desktop_bouquet1@3x.jpg 1600w
          "
          sizes="(min-width: 1280px) 600px, (min-width: 768px) 344px, (min-width: 480px) 136px"
          src="./images/store/mobile_bouquet1@1x.jpg"
          alt="small boquet with pink flowers"
        />
        <div class="store__text">
          <h3
            data-aos="fade-right"
            data-aos-duration="500"
            data-aos-easing="ease-in-sine"
            class="store__name section__subtitle"
          >
            bouquets size S
          </h3>
          <p
            data-aos="fade-right"
            data-aos-duration="500"
            data-aos-easing="ease-in-sine"
            data-aos-delay="200"
            class="store__price"
          >
            from $25
          </p>
        </div>
      </li>
      <li class="store__item">
        <img
          data-aos="fade"
          data-aos-duration="500"
          data-aos-easing="ease-in-sine"
          class="store__img"
          srcset="
            ./images/store/mobile_bouquet2@1x.jpg   136w,
            ./images/store/mobile_bouquet2@2x.jpg   272w,
            ./images/store/mobile_bouquet2@3x.jpg   408w,
            ./images/store/tablet_bouquet2@1x.jpg   344w,
            ./images/store/tablet_bouquet2@2x.jpg   688w,
            ./images/store/tablet_bouquet2@3x.jpg  1032w,
            ./images/store/desktop_bouquet2@1x.jpg  600w,
            ./images/store/desktop_bouquet2@2x.jpg 1200w,
            ./images/store/desktop_bouquet2@3x.jpg 1800w
          "
          sizes="(min-width: 1280px) 600px, (min-width: 768px) 344px, (min-width: 480px) 136px"
          src="./images/store/mobile_bouquet2@1x.jpg"
          alt="medium boquet with blue flowers"
        />
        <div class="store__text">
          <h3
            data-aos="fade-right"
            data-aos-duration="500"
            data-aos-easing="ease-in-sine"
            class="store__name section__subtitle"
          >
            bouquets size M
          </h3>
          <p
            data-aos="fade-right"
            data-aos-duration="500"
            data-aos-easing="ease-in-sine"
            data-aos-delay="200"
            class="store__price"
          >
            from $45
          </p>
        </div>
      </li>
      <li class="store__item">
        <img
          data-aos="fade"
          data-aos-duration="500"
          data-aos-easing="ease-in-sine"
          class="store__img"
          srcset="
            ./images/store/mobile_bouquet4@1x.jpg   136w,
            ./images/store/mobile_bouquet4@2x.jpg   272w,
            ./images/store/mobile_bouquet4@3x.jpg   408w,
            ./images/store/tablet_bouquet4@1x.jpg   344w,
            ./images/store/tablet_bouquet4@2x.jpg   688w,
            ./images/store/tablet_bouquet4@3x.jpg  1032w,
            ./images/store/desktop_bouquet4@1x.jpg  600w,
            ./images/store/desktop_bouquet4@2x.jpg 1200w,
            ./images/store/desktop_bouquet4@3x.jpg 1800w
          "
          sizes="(min-width: 1280px) 600px, (min-width: 768px) 344px, (min-width: 480px) 136px"
          src="./images/store/mobile_bouquet4@1x.jpg"
          alt="large boquet with yellow flowers"
        />
        <div class="store__text">
          <h3
            data-aos="fade-right"
            data-aos-duration="500"
            data-aos-easing="ease-in-sine"
            class="store__name section__subtitle"
          >
            bouquets size L
          </h3>
          <p
            data-aos="fade-right"
            data-aos-duration="500"
            data-aos-easing="ease-in-sine"
            data-aos-delay="200"
            class="store__price"
          >
            from $60
          </p>
        </div>
      </li>
    </ul>
    <button
      data-aos="flip-down"
      data-aos-delay="100"
      data-modal-contact-open
      class="button button--md store__button"
      type="button"
    >
      Order flowers
    </button>
  </div>
</section>
