.link {
  text-decoration: none;
}

.footer {
  padding: 32px 0;
  background-color: $colorBlack;
  &__subcontainer {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    display: none;
  }

  &__heading {
    padding-bottom: 18px;
    font-size: 18px;
    font-weight: 700;
    line-height: 0.81;
    text-align: left;
    color: $colorWhite;
  }
}

.nav-footer__item {
  font-size: 14px;
  font-weight: 500;
  line-height: 0.82;
  text-align: left;
  margin-bottom: 12px;
  &:last-child {
    margin-bottom: 0;
  }
}

.nav-footer__link {
  color: $colorWhite;
}

.hours {
  color: $colorWhite;
}

.contacts {
  padding-top: 32px;

  &__address {
    font-size: 14px;
    font-weight: 500;
    line-height: 0.82;
    text-align: left;
    color: $colorWhite;
    &-item {
      display: block;
      color: $colorWhite;
      margin-bottom: 12px;
    }
  }
}

.utils {
}
