.page-header {
  height: 80px;
  justify-content: space-evenly;

  background: #ffffff;
  display: flex;
  margin: auto;
  padding: 0px 15px;
  text-decoration: none;
}

.header__logo {
  height: 42.8px;
  width: 40px;
  margin-top: 17px;

  @media all and (min-width: 480px) and (max-width: 768px) {
    min-width: 20px;
  }
  &:hover {
    fill: $colorPink;
    cursor: pointer;
  }
}

.navbar a {
  text-decoration: none;
}
.navbar .navigation a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  color: black;
}

.header__nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: black;
  display: flex;
  margin-top: 32px;
  justify-content: space-evenly;
}

.nav__link {
  color: #000000;

  @media all and (max-width: 480px) {
    display: none;
  }

  &:hover {
    color: $colorPink;
    cursor: pointer;
  }
}
.nav-item {
  color: black;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.02em;

  @media all and (max-width: 767px) {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: none;
  }
}

ul {
  list-style-type: none;
}

.header__call {
  height: 22px;
  width: 35px;
  margin-top: 35px;

  @media all and (min-width: 480px) and (max-width: 768px) {
    min-width: 20px;
  }

  &:hover {
    fill: $colorPink;
    cursor: pointer;
  }
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (min-width: 480px) {
  .menu {
    display: none;
  }
}

@include mq(tablet) {
  .header__menu-toggle {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }    
}

.nav-container {
  width: 768px;
  margin-left: 80px;
  margin-right: 80px;
}
