.page-header {
  height: 80px;
  justify-content: space-evenly;
  border: 1px solid #ececec;
  background: #ffffff;
  display: flex;
  margin: auto;
  padding: 0px 15px;
  text-decoration: none;
}

.header__logo {
  height: 42.8px;
  margin-top: 12px;
  &:hover {
    fill: $colorPink;
    cursor: pointer;
  }
}

.navbar a {
  text-decoration: none;
}
.navbar .navigation a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  color: black;
}

.header__nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: black;
  display: flex;
  margin-top: 32px;
  justify-content: space-evenly;
  width: 1280px;
}

.nav__link {
  color: #000000;

  @media all and (max-width: 480px) {
    display: none;
  }

  &:hover {
    color: $colorPink;
    cursor: pointer;
  }
}
.nav-item {
  color: var(--main-color, black);
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.02em;

  @media all and (max-width: 768px) {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
}

ul {
  list-style-type: none;
}

.header__call {
  height: 22px;
  margin-top: 30px;

  &:hover {
    fill: $colorPink;
    cursor: pointer;
  }
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (min-width: 480px) {
  .menu {
    display: none;
  }
}
