.hero {
  margin-bottom: 120px;
  &__img-frame {
    display: flex;
    justify-content: center;
    position: relative;
  }
  &__img-box {
    padding-top: 40px;
    width: 154px;
    height: 274px;
    display: flex;
    justify-content: center;
  }
  &__headerbox {
    position: absolute;
    top: 247px;
    display: flex;
    justify-content: center;
  }
  &__header {
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 1.211;
    text-align: center;
    color: #000;
  }
  &__textbox {
    width: 305px;
    position: absolute;
    top: 135px;
    display: flex;
    justify-content: space-between;
  }
  &__text {
    width: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.211;
    text-align: left;
    color: #000;
    padding-left: 50px;
  }
  &__button {
    display: flex;
    justify-content: center;
    border: none;
    background: none;
  }
  &__btn {
    width: 64px;
    height: 76px;
    cursor: pointer;
    // transition: filter $shift;
    transition: transform $shift;
    &:hover {
      animation: shopnow 10s infinite 0.1s alternate linear;
      //   filter: invert(75%) sepia(42%) saturate(6520%) hue-rotate(325deg) brightness(95%) contrast(90%);
    }
  }
}

@keyframes shopnow {
  from {
    filter: invert(98%) sepia(89%) saturate(1281%) hue-rotate(292deg) brightness(107%) contrast(93%);
    transform: rotate(0deg) scale(1);
  }

  // 50% {
  //   filter: invert(70%) sepia(58%) saturate(2779%) hue-rotate(319deg) brightness(88%) contrast(107%);
  // }

  to {
    filter: invert(75%) sepia(42%) saturate(6520%) hue-rotate(325deg) brightness(95%) contrast(90%);
    // filter: invert(44%) sepia(64%) saturate(703%) hue-rotate(324deg) brightness(93%) contrast(91%);
    transform: rotate(360deg) scale(1.2);
  }
}

// @include mq(mobile) {}
// zostawione na wszelki

@include mq(tablet) {
  .hero {
    margin-bottom: 165px;
    &__img-box {
      width: 390px;
      height: 636px;
    }

    &__headerbox {
      top: 583px;
    }

    &__header {
      font-size: 120px;
      line-height: 1.216;
    }

    &__textbox {
      width: 680px;
      top: 280px;
    }

    &__text {
      width: 46px;
      font-size: 24px;
      line-height: 1.21;
      padding-left: 100px;
    }

    &__button {
      background: none;
      width: 145px;
      height: 150px;
    }
    &__btn {
      width: 145px;
      height: 145px;
    }
  }
}
@include mq(desktop) {
  .hero {
    &__headerbox {
      top: 535px;
    }

    &__header {
      font-size: 160px;
      line-height: 1.21;
    }

    &__textbox {
      width: 940px;
      top: 260px;
    }

    &__text {
      width: 46px;
      font-size: 32px;
      line-height: 1.21;
      padding-left: 100px;
    }

    &__button {
      background: none;
      width: 166px;
      height: 166px;
    }
    &__btn {
      width: 166px;
      height: 166px;
    }
  }
}
