.header__menu-toggle {
  min-height: 40px;
  min-width: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    fill: $colorPink;
  }

  @include mq(tablet) {
    display: none;
  }
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;

  @include mq(mobile) {
    display: none;
  }
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: $colorPink;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

  @include mq(mobile, max) {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 32px;
  background-color: $colorPink;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: black;
}

.mobile-menu {
  padding: 48px;
  margin: 0;
  list-style: none;
  margin-bottom: 200px;
}

.mobile-menu .mobile_link {
  display: block;
  padding-top: 32px;
  text-decoration: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;

  &:hover {
    color: black;
  }
}

.menu-toggle-close {
  width: 19px;
  height: 19px;
  margin-top: 11px;
  cursor: pointer;

  &:hover {
    fill: #2196f3;
  }
}

.menu-toggle__icon {
  position: absolute;

  @include mq(tablet, max) {
    width: 25px;
    height: 20px;
    position: fixed;
  }

  @include mq(tablet) {
    display: none;
  }

  &:hover {
    fill: $colorPink;
  }
}

.menu-toggle__close {
  fill: #fff;
}
