.header__menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    fill: $colorPink;
  }
}
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: $colorPink;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 32px;
  background-color: $colorPink;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: black;
}

.mobile-menu {
  padding: 48px;
  margin: 0;
  list-style: none;
  margin-bottom: 200px;
  background-color: $colorPink;
  width: 100vw;
  height: 100vh;
}

.mobile-menu .mobile_link {
  display: block;
  padding-top: 32px;
  text-decoration: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  background-color: $colorPink;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  &:hover {
    color: black;
  }
}

.menu-toggle-close {
  width: 19px;
  height: 19px;
  margin-top: 11px;

  cursor: pointer;
  &:hover {
    fill: #2196f3;
  }
}

.mobile-contacts {
  line-height: 3;
}

.menu-toggle__icon {
  position: absolute;

  @media all and (min-width: 481px) and (max-width: 767px) {
    width: 18px;
    height: 16px;
  }

  @media all and (min-width: 768px) and (max-width: 1280px) {
    display: none;
  }

  &:hover {
    fill: $colorPink;
  }
}
