.thx {
    &-modal {
        position: absolute;
        width: 272px;
        min-height: 357px;
        padding-top: 40px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__img {
        padding-bottom: 16px
    }

    &__title {
        font-family: $fontFamily;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        color: #000;
        padding-bottom: 14px;
    }

    &__text {
        width: 240px;
        font-family: $fontFamily;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.25;
        color: #5C5C5C;
        align-items: center;
        padding-bottom: 14px;
    }

    &__btn {
        width: 240px;
        height: 37px;
        font-family: $fontFamily;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.21;
        align-items: center;
        border-radius: 8px;
    }
}

@include mq(tablet) {
    .thx {
        &-modal {
            position: absolute;
            width: 480px;
            min-height: 505px;
            padding-top: 54px;
        }

        &__img {
            width: 266px;
            height: 202px;
            padding-bottom: 16px;
        }

        &__title {
            font-size: 32px;
            padding-bottom: 16px;
        }

        &__text {
            width: 416px;
            font-family: $fontFamily;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.25;
            align-items: center;
            padding-bottom: 34px;
        }

        &__btn {
            width: 416px;
            height: 50px;
            font-weight: 600;
            font-size: 18px;
            line-height: 1.22;
            border-radius: 8px;
        }
    }
}

.button__close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: none;
    cursor: pointer;
}