.modal-newsletter {
  width: 272px;
  min-height: 380px;
  visibility: visible;
  background-color: $colorWhite;

  @include mq(tablet) {
    width: 588px;
    min-height: 644px;
  }

  @include mq(desktop) {
    width: 860px;
    min-height: 528px;
  }

  &__close {
    position: absolute;
    top: 14px;
    right: 14px;
    border: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      fill: $hoverColor;
    }

    &:focus {
      fill: $focusColor;
    }

    @include mq(tablet) {
      top: 24px;
      right: 24px;
      transform: scale(1.33);
    }
  }

  &__container {
    display: flex;
    flex-direction: column;

    @include mq(desktop) {
      flex-direction: row;
    }
  }

  & img {
    display: block;
    height: auto;
  }

  &__content {
    padding: 18px 16px 28px 16px;

    @include mq(tablet) {
      padding: 28px 118px 40px 118px;
    }

    @include mq(desktop) {
      padding: 111px 40px 112px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 19px;
    line-height: calc(23 / 19);
    color: $colorBlack;
    text-align: center;

    @include mq(tablet) {
      font-size: 28px;
      line-height: calc(34 / 28);
    }
  }

  &__text {
    margin-top: 14px;
    text-align: center;
    font-size: 12px;
    line-height: calc(16 / 12);
    color: #5c5c5c;
    padding: 0 2px;

    @include mq(tablet) {
      margin-top: 24px;
      font-size: 16px;
      line-height: calc(21 / 16);
      padding: 0 8px;
    }
  }

  &__form {
    margin-top: 18px;
    padding: 0 2px;

    @include mq(tablet) {
      margin-top: 32px;
      padding: 0 8px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    font-weight: 500;
    font-size: 10px;
    line-height: calc(12 / 10);
    color: #5c5c5c;

    @include mq(tablet) {
      font-size: 14px;
      line-height: calc(17 / 14);
    }
  }

  &__input {
    outline: none;
    border: 1px solid $normalState;
    border-radius: $inputBorderRadius;
    padding-left: 12px;
    height: 35px;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(15 / 12);
    color: rgba(0, 0, 0, 0.3);

    &::placeholder {
      color: currentColor;
    }

    &:hover {
      border: 1px solid $hoverState;
    }

    &:required:not(:placeholder-shown):invalid {
      border: 1px solid $errorState;
    }

    &:required:not(:placeholder-shown):valid {
      border: 1px solid $correctState;
    }

    @include mq(tablet) {
      height: 49px;
      font-size: 14px;
      line-height: calc(17 / 14);
    }
  }

  &__button {
    width: 236px;
    height: 37px;
    margin-top: 18px;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: calc(17 / 14);
    padding: 0;
    border-radius: $buttonModalBorderRadius;

    @include mq(tablet) {
      width: 336px;
      height: 50px;
      margin-top: 28px;
      font-size: 18px;
      line-height: calc(22 / 18);
    }
  }
}
