.store__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;

  @include mq(tablet) {
    gap: 32px;
  }
}
.store__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.22;
  margin-bottom: 6px;

  @include mq(tablet) {
    font-size: 32px;
    margin-bottom: 8px;
  }

  @include mq(desktop) {
    font-size: 36px;
    margin-bottom: 4px;
  }
}
.store__price {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.22;
  opacity: 60%;

  @include mq(tablet) {
    font-size: 24px;
  }
  @include mq(desktop) {
    font-size: 28px;
    line-height: 1.29;
  }
}
.store__img {
  margin-bottom: 12px;

  @include mq(tablet) {
    margin-bottom: 16px;
  }
}
.button {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  margin-top: 32px;
  width: 208px;
  height: 44px;
  font-size: 20px;
  padding: 14px, 28px, 14px, 28px;

  @include mq(tablet) {
    margin-top: 60px;
    width: 280px;
    height: 64px;
    font-size: 24px;
    padding: 16px, 32px, 16px, 32px;
  }
}
