// BUTTON - strona główna - dodajemy klasę bazową .button i klasę z wielkością .button--sm / .button--md / .button--lg

.button {
  background: #e86f54;
  color: $colorWhite;
  border-radius: $buttonBorderRadius;
  font-weight: 500;
  line-height: 24px;
  border: 0;
  outline: none;

  transition: background $shift;
  transition: transform $shift;
  &:hover,
  &:focus {
    box-shadow: 0px 2px 4px 2px $colorGrayLight;
  }

  &:hover {
    cursor: pointer;
    background: $colorPinkDark;

    transform: translateY(-5px);
  }

  &:focus {
    background: $colorPinkLight;
    box-shadow: 0px 4px 16px rgba(250, 111, 84, 0.2);
  }
}

// button na mobile - sekcja blog
.button--sm {
  width: 170px;
  height: 40px;
  font-size: 18px;
  padding: 14px 28px 14px 28px;

  @include mq(tablet) {
    width: 280px;
    height: 64px;
    font-size: 24px;
    padding: 16px 32px 16px 32px;
  }
}

// button na mobile - sekcja store
.button--md {
  width: 208px;
  height: 44px;
  font-size: 20px;
  padding: 14px 28px 14px 28px;

  @include mq(tablet) {
    width: 280px;
    height: 64px;
    font-size: 24px;
    padding: 16px 32px 16px 32px;
  }
}

// button na tablet i desktop - sekcja store i blog
// .button--lg {
//   width: 280px;
//   height: 64px;
//   font-size: 24px;
//   padding: 16px, 32px, 16px, 32px;
// }
